* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;

  display: grid;
  place-items: center;
}

.app {
  height: 100%;

  display: grid;
  row-gap: 3rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: rgb(65, 125, 236);
}

button:active {
  background-color: rgb(97, 145, 233);
}

#modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  overflow: hidden;

  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.95);
}
.modal {
  padding: 2rem;
  background-color: white;
  max-width: 300px;
  display: grid;
  row-gap: 2rem;
  border-radius: 0.5rem;
}
